body {
    font-family: Arial, sans-serif;
    background-color: #f4f6f8;
    text-align: center;
}

h2 {
    color: #2c3e50;
    margin-top: 30px;
}

form {
    background: rgb(206, 95, 95);
    width: 400px;
    margin: auto;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgb(170, 125, 125);
}

input, select {
    width: 90%;
    padding: 8px;
    margin: 8px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
}

input[type="submit"] {
    background-color: #3498db;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #2980b9;
}

h3 {
    color: green;
}

h4 {
    color: #555;
}